style {
  background-color: #f12626;
} /* IE6 */
* html style {
  background-color: #f0f0f0;
} /* IE6 */

/* Add styling for the RSS feed container */
#rss-feed-container {
  background-color: #f12626;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  text-align: left;
}
