body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #f0f0f5;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
  color: #444;
}

h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;
  color: #555;
}



.weather-info p,
.weather-forecast p {
  margin: 5px 0;
}

.weather-forecast ul {
  list-style-type: none;
  padding: 0;
}

.weather-forecast li {
  margin-bottom: 5px;
}



.places-of-interest ul {
  list-style-type: none;
  padding: 0;
}

.places-of-interest li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.navigate-button {
  margin-left: 10px;
  background-color: #5d7a9a;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}


.navigate-button:hover {
  background-color: #0056b3;
}

.current-weather,
.weather-forecast {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.current-weather p,
.weather-forecast p {
  font-size: 1em;
  color: #444;
}

.weather-forecast h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #444;
  text-align: left;
}

.weather-forecast ul {
  padding-left: 20px;
}

.weather-forecast li {
  font-size: 1em;
  color: #555;
}
